[program:cassandra]
command=/usr/local/etc/cassandra/bin/cassandra -f
user={{cassandra_user}}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile=/var/log/cassandra/cassandra.out
logfile_maxbytes=20MB
logfile_backups=10
