check process ntpd with pidfile /var/run/ntpd.pid
  group system
  start program = "/etc/init.d/ntp start"
  stop program = "/etc/init.d/ntp stop"
  if failed host 127.0.0.1 port 123 type udp then alert
  if 5 restarts within 5 cycles then timeout
