[program:storm-ui]
command=/usr/local/etc/storm/bin/storm ui
user={{storm_user}}
autostart=true
autorestart=true
startsecs=15
startretries=999
log_stdout=true
log_stderr=true
logfile=/var/log/storm/ui.out
logfile_maxbytes=20MB
logfile_backups=10
